inference filter=lfs diff=lfs merge=lfs -text
inference.py filter=lfs diff=lfs merge=lfs -text
modules.py filter=lfs diff=lfs merge=lfs -text
params.py filter=lfs diff=lfs merge=lfs -text
train.py filter=lfs diff=lfs merge=lfs -text
dataset.py filter=lfs diff=lfs merge=lfs -text
checkpoints filter=lfs diff=lfs merge=lfs -text
distillation filter=lfs diff=lfs merge=lfs -text
distillation.py filter=lfs diff=lfs merge=lfs -text
models.py filter=lfs diff=lfs merge=lfs -text
Readme.md filter=lfs diff=lfs merge=lfs -text
